<style type="text/css">  
  .form-group.required .control-label:hover:after{
    background: rgba(0,0,0,.75);
    border-radius: 5px;
    top: -30px;
    color: #fff;
    content: 'wymagane';
    left: 25px;
    padding: 5px 10px;
    position: absolute;
    z-index: 98;
  }
</style>

<%= form_with(model: certificate, local: true) do |form| %>
  <div class="container">
    <div class="row">
      <h2 class="center index-title"><%= t('.title') %></h2>
    </div>

    <% if certificate.errors.any? %>
      <div id="error_explanation">
        <button type="button" class="close" data-target="#error_explanation" data-dismiss="alert"> <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>

        <ul>
        <% certificate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% if @certificate_resp.present? %>
      <%= render "result", certificate_resp: @certificate_resp %>
    <% end %>

    <div class="row">
      <div class="form-group required col-lg-12">
        <%= form.label :number_prefix, class: 'control-label' %>
        <%= form.select :number_prefix, 
              options_for_select([['G1E-* świadectwo radioelektronika pierwszej klasy GMDSS', 'G1E-'],
                                  ['G2E-* świadectwo radioelektronika drugiej klasy GMDSS', 'G2E-'],
                                  ['GG-* świadectwo ogólne operatora GMDSS', 'GG-'],
                                  ['GR-* świadectwo ograniczone operatora GMDSS', 'GR-']], 
                selected: certificate.number_prefix), 
              { include_blank: true }, 
              { autofocus: true, id: 'id_number_prefix', class: 'form-control input-sm' } %>
      </div>
    </div>  <!-- /row -->
    <div class="row">

      <div class="form-group required col-sm-12 col-md-4">
        <%= form.label :number, class: 'control-label' %>
        <div class="input-group">
          <div class="input-group-addon" id="id_number_addon"></div>
          <%= form.text_field :number, autofocus: false, class: 'form-control input-sm' %>
        </div>
      </div>

      <div class="form-group required col-sm-6 col-md-4">
        <%= form.label :date_of_issue, class: 'control-label' %>
        <%= form.text_field :date_of_issue, class: 'form-control input-sm datepicker' %>
        <small class="help-block">np. 2018-08-30</small>
      </div>
      <div class="form-group required col-sm-6 col-md-4" id='id_valid_thru'>
        <%= form.label :valid_thru, class: 'control-label' %>
        <%= form.text_field :valid_thru, class: 'form-control input-sm datepicker' %>
        <small class="help-block">np. 2023-08-30</small>
      </div>
    </div>  <!-- /row -->

    <div class="row">
      <div class="form-group required col-sm-6 col-md-4">
        <%= form.label :name, class: 'control-label' %>
        <%= form.text_field :name, class: 'form-control input-sm' %>
        <small class="help-block">np. Kowalski</small>
      </div>
      <div class="form-group required col-sm-6 col-md-4">
        <%= form.label :given_names, class: 'control-label' %>
        <%= form.text_field :given_names, class: 'form-control input-sm' %>
        <small class="help-block">np. Jan</small>
      </div>
      <div class="form-group required col-sm-6 col-md-4">
        <%= form.label :birth_date, class: 'control-label' %>
        <%= form.text_field :birth_date, class: 'form-control input-sm datepicker' %>
        <small class="help-block">np. 1969-07-06</small>
      </div>
    </div>  <!-- /row -->

    <div class="row">
      <div class="actions col-md-6">
<!--
        <button class="btn btn-info" data-toggle="modal" data-target="#modal-0" type="button">
          <span class="glyphicon glyphicon-globe"></span>
          Typing National Characters
        </button>
-->
        <h5 class="text-danger"><%= t('.data_required') %></h5>
        <%= link_to 'Wprowadzanie znaków narodowych', "#", data: {toggle: "modal", target: "#modal-0"} %>
      </div>
      <div class="actions col-md-6">
        <button class="btn btn-primary pull-right" name="button" type="submit">
          <span class="glyphicon glyphicon-search"></span>
          Szukaj
        </button>
      </div>
    </div>  <!-- /row -->

    <div class="row">
      <br>
      <div class="col-md-12">

        <fieldset class="my-fieldset">
          <legend class="my-fieldset text-danger"><strong> Uwaga ! </strong></legend>

          <p><strong>
          W związku z rosnącym rozprzestrzenianiem się wirusa Coronavirus COVID-19 oraz środkami podjętymi przez rząd w celu zminimalizowania jego skutków, ważność certyfikatów, które wygasają po dniu 1 marca 2020 r., zostaje przedłużona do dnia 1 września 2020 r. 
          </strong></p>
          <p>
            - Szczegółowe informacje na stronie: <%= link_to('UKE - Komunikat w sprawie składania wniosków oraz odnawiania świadectw GMDSS', 'https://www.uke.gov.pl/akt/komunikat-w-sprawie-skladania-wnioskow-oraz-odnawiania-swiadectw-gmdss-,304.html', target: "_blank") %>
          </p>
        </fieldset>

      </div>
    </div>  <!-- /row -->

  </div>  <!-- /container -->

<% end %>

<!-- Modal -->
<!-- #modal-0 Uwagi ogólne-->
<div class="modal fade" id="modal-0" tabindex="-1" role="dialog" aria-labelledby="modal-0" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="todo-label">Wprowadzanie znaków narodowych</h3>
      </div>
      <div class="modal-body">
        <h5>Znaki narodowe typu <kbd>ą</kbd><kbd>ę</kbd><kbd>ł</kbd><kbd>ń</kbd> / <kbd>á</kbd><kbd>č</kbd><kbd>ě</kbd><kbd>é</kbd> / <kbd>ä</kbd><kbd>ü</kbd><kbd>ö</kbd><kbd>ß</kbd>, wpisz jako znaki bez akcentu, jeśli nie możesz przełączyć klawiatury na określony język.</h5>
        <h5>np.:</h5>
        <h5>Kozłowski -> Kozlowski</h5>
        <h5>Novákový -> Novakovy</h5>
        <h5>Müller -> Muller</h5>
        <h5>Bolesław -> Boleslaw</h5>
        <h5>Kateřina -> Katerina</h5>     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
